.career {
  background-image: url("https://img.freepik.com/free-photo/career-employment-job-work-concept_53876-123876.jpg?w=900&t=st=1708932416~exp=1708933016~hmac=e0f8283db5960f387d8db06a8fa22cdf7a57ba860d9cb676ba00aa9d77743ec5");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.ourMission {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8)),
    url("../../../globalAssets/ourMission\ \(1\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.shadows:hover {
  transform: scale(105%);
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.1);
}
