.ServicesCard {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8)), url("../../../globalAssets/servicesCard1_80.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }


  .servicesBg {
    background: rgb(202,203,228);
background: linear-gradient(90deg, rgba(202,203,228,1) 0%, rgba(235,225,236,1) 100%);
  }