.about {
    background-image: url("../../../globalAssets/aboutUsMan\ \(2\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }


  .ourMission {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8)),url("../../../globalAssets/ourMission\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }