.main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8)), url("../../../globalAssets/supportLady\ \(1\)\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }

  .homeServices {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.5)), url("../../../globalAssets/homeServices\ \(1\)\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }


  .hIcc {
  background-image:linear-gradient(rgba(0, 0, 0, 0.4) 20%, rgba(0, 0, 0, 0.4)), url("../assets/homeIcc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  }
  .consumer {
  background-image:linear-gradient(rgba(0, 0, 0, 0.4) 20%, rgba(0, 0, 0, 0.4)), url("../assets/homeConsumer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  }
  .pb {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 20%, rgba(0, 0, 0, 0.4)), url("../assets/homePb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  }
  .ai {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 20%, rgba(0, 0, 0, 0.4)), url("../assets/homeAI.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  }

  