.main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8)), url("../../../globalAssets/supportLady\ \(1\)\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }

  .homeServices {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.5)), url("../../../globalAssets/homeServices\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }