.price {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8)), url("../../../globalAssets/pricingMan.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.rates {
  background-image:  url("../../../globalAssets/ratesBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}